.collapseContent{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.collapseContent tbody{
    display:block;
    width: 100%;
    overflow: auto;
    height: 66%;
}

.collapseContent thead tr {
    display: block;
}

.collapseContent thead {
    background: black;
    color:#fff;
}

.collapseContent th, .collapseContent td {
    padding: 1px;
    text-align: center;
    width : 50px
}

#options{
    overflow: auto;
    height: 75%;
    width: 100%
}

.collapse{
    background-color: wheat;
    padding: 5px;
    height: 10%
}
