.toprow > div{
    display:inline-block;
}

#ticker-div, #text-div, #ivFactorDiv, #submitTicker{
    width: 12%
}

.toprow > div > label+input{
    width: 50%;
    box-sizing:border-box;
}

#ivFactorDiv{
    float: right
}
