.toprow > div{
    display:inline-block;
}

#ticker-div, .text-div, #percentInterval-div, #numberOfIntervals-div, #ivFactor-div, #submitTicker{
    width: 12%
}
 
.toprow > div > input{
    width: 100%;
    box-sizing: border-box
}

#ticker-div, .text-div,  #submitTicker{
    float: left;
}

#percentInterval-div, #numberOfIntervals-div, #ivFactor-div{
    float: right;
}

#percentInterval{
    width: 60%
}