<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=0.77">

    <title>STONKS & OPTIONS &#x1F4B0; &#x1F4B0;</title>

    <link rel="icon" href="/img/logo.png"></link>

    <script src="/jsLib/jQuerySavedCDN.js"></script>
    <script src="/jsLib/angularSavedCDN.js"></script>
    <script src="/jsLib/animateCDN.js"></script>

    <link rel="stylesheet" href="/css/css.css"></link>
    
</head>

<body>
<div ng-app="myApp" ng-controller="appController">

    <div class="middleDiv fade" ng-show="!display.click" ng-mouseover = "adjustSpin()"> 
        <img ng-class= "display.icon" src="/img/logo.png" id="logo" ng-click="clickMiddleIcon()" draggable="false"/>
    </div>
    <div class='middleDiv' ng-show="display.click">
        <button ng-click="redirectTo('/')">OPTIONS CALCULATOR</button>
        <br/>
        <br/>
        <button ng-click="redirectTo('/stock')">STONK CHARTZ</button>
        <br/>
        <br/>
    </div>

</div>
<script>
    var app = angular.module('myApp', ['ngAnimate']);
    app.controller('appController', function($scope) {
        $scope.display = {}
        $scope.display.click = false;
        $scope.display.icon = '';
        $scope.clickMiddleIcon = () => {
            $scope.display.click = !$scope.display.click
        }
        $scope.redirectTo = (data) => {
            window.location.href = data
        }
        $scope.adjustSpin = () => {
            $scope.display.icon = 'spin slow'
        }
    });
</script>

</body>
</html>