<html>
<head>

    <title>Options Calculator</title>

    <link rel="icon" href="/img/bruhlogo.png"></link>

</head>
<body ang-app="angApp" ng-controller="angController">

    <!--LOGO-->
    <span> 
        <img src="/img/bruhlogo.png" id="logo"/>
    </span>
    <hr style="height:5px;border:none;color:#333;background-color:#333;" />
    
    <!--TOP ROW-->
    <div id = "topRow">
        <div class="left">
            <div>
                <label for="ticker">Symbol</label>
                <input type = "text" id = "ticker">
            </div>

            <button type = "button" id="submitTicker">Get Price</button>

            <div class="text-div">
                <label for="stockPrice">Price</label>
                <input type='number' class = "text" id ="stockPrice" readonly>
            </div>

            <div class="text-div">
                <label for="stockPercentChange">Percent Change</label>
                <input type='number' class = "text" id="stockPercentChange" readonly>
            </div> 
        </div>

        <div class="middle">
            <img src="/img/bruhlogo.png" class="cycle loading" id = "loadingIcon" style="visibility: hidden"/>
        </div>

        <div class="right">
            <div id="percentInterval-div">
                <label for="percentInterval">Interval Size</label>
                <input type='number' class = "text" id ="percentInterval" value = 1> % 
            </div>

            <div id="numberOfIntervals-div">
                <label for="numberOfIntervals">Number of Intervals</label>
                <input type='text' class = "text" id ="numberOfIntervals" value = 10>
            </div>

            <div id="ivFactor-div">
                <label for="ivFactor">IV Factor</label>
                <input type="text" id ="ivFactor" value = 1>
            </div>
        </div>
    </div>
    <br/>

    <!--LEG ROWS-->
    <div id ="legRows"></div>
    <br/>
    
    <!--ADD LEG OR SUBMIT-->
    <div id = "submitLegRows">
        <button type="button" id = "displayOptionsChain">ADD LEG</button>
        <button type="button" id = "calculateOptions">CALCULATE</button>

        <!--OPTIONS SELECTION MODAL-->
        <div id = "optionsModal">
            <div id = "optionsSelection">
                <span id="close">&times;</span>
                <div ng-repeat="chain in chains" class = 'chain'>
                    <button class="collapse">{{chain}}</button>
                    <table class="collapseContent">
                        <thead>
                            <tr>
                                <th>Bid</th>
                                <th>Call</th>
                                <th>Ask</th>
                                <th>Strike</th>
                                <th>Bid</th>
                                <th>Put</th>
                                <th>Ask</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="option in chains[{{chain}}]">
                            <tr class="{{option.strike}}">
                                <td><a ng-click="myFunction()">{{option.callBid}}</a></td>
                                <td><a ng-click="myFunction()">{{option.call}}</a></td>
                                <td><a ng-click="myFunction()">{{option.callAsk}}</a></td>
                                <td><a ng-click="myFunction()">{{option.strike}}</a></td>
                                <td><a ng-click="myFunction()">{{option.putBid}}</a></td>
                                <td><a ng-click="myFunction()">{{option.put}}</a></td>
                                <td><a ng-click="myFunction()">{{option.putAsk}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <!--OPTIONS PROFIT TABLE-->
    <div id = "optionsProfitTable">

    </div>
    <br/>



</body>
</html>