<html>
<head>

    <title>Options Calculator</title>

    <link rel="icon" href="/OptionsCalculatorWeb/img/bruhlogo.png"></link>

    <link rel="stylesheet" href="/OptionsCalculatorWeb/css/pictures.css"></link>

    <script src="/OptionsCalculatorWeb/jsLib/jQuerySavedCDN.js"></script>
    <script src="/OptionsCalculatorWeb/jsLib/angularSavedCDN.js"></script>
    
</head>
<body>
<div ng-app="angApp" ng-controller="priceController">
    <!--LOGO-->
    <span> 
        <img src="/OptionsCalculatorWeb/img/bruhlogo.png" id="logo"/>
    </span>
    <hr style="height:5px;border:none;color:#333;background-color:#333;" />
    
    <!--TOP ROW-->
    <div id = "topRow">
        <div class="left">
            <div id="ticker-div">
                <label for="ticker">Symbol</label>
                <input type = "text" id = "ticker" ng-model="stock.tickerSymbol">
            </div>

            <button type = "button" id="submitTicker" ng-click="getPrice()">Get Price</button>

            <div class="text-div">
                <label for="stockPrice">Price</label>
                <input type='text' class = "text" id ="stockPrice" value = '{{stock.price}}' readonly>
            </div>

            <div class="text-div">
                <label for="stockPercentChange">Percent Change</label>
                <input type='text' class = "text" id="stockPercentChange" value = '{{stock.percentChange}}' readonly> %
            </div> 
        </div>

        <div class="middle">
            <img src="/OptionsCalculatorWeb/img/bruhlogo.png" class="cycle loading" id = "loadingIcon" style="visibility: hidden"/>
        </div>

        <div class="right">
            <div id="percentInterval-div">
                <label for="percentInterval">Interval Size</label>
                <input type='number' class = "text" id ="percentInterval" value = 1> % 
            </div>

            <div id="numberOfIntervals-div">
                <label for="numberOfIntervals">Number of Intervals</label>
                <input type='text' class = "text" id ="numberOfIntervals" value = 10>
            </div>

            <div id="ivFactor-div">
                <label for="ivFactor">IV Factor</label>
                <input type="text" id ="ivFactor" value = 1>
            </div>
        </div>
    </div>
    <br/>

    <!--LEG ROWS-->
    <div id ="legRows"></div>
    <br/>
    
    <!--ADD LEG OR SUBMIT-->
    <div id = "submitLegRows">
        <button type="button" id = "displayOptionsChain">ADD LEG</button>
        <button type="button" id = "calculateOptions">CALCULATE</button>

        <!--OPTIONS SELECTION MODAL-->
        <div id = "optionsModal">
            <div id = "optionsSelection">
                <span id="close">&times;</span>
                <div ng-repeat="chain in chains" class = 'chain'>
                    <button class="collapse">{{chain}}</button>
                    <table class="collapseContent">
                        <thead>
                            <tr>
                                <th>Bid</th>
                                <th>Call</th>
                                <th>Ask</th>
                                <th>Strike</th>
                                <th>Bid</th>
                                <th>Put</th>
                                <th>Ask</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="option in chains[{{chain}}]">
                            <tr class="{{option.strike}}">
                                <td><a ng-click="myFunction($event)">{{option.callBid}}</a></td>
                                <td><a ng-click="myFunction($event)">{{option.call}}</a></td>
                                <td><a ng-click="myFunction($event)">{{option.callAsk}}</a></td>
                                <td><a ng-click="myFunction($event)">{{option.strike}}</a></td>
                                <td><a ng-click="myFunction($event)">{{option.putBid}}</a></td>
                                <td><a ng-click="myFunction($event)">{{option.put}}</a></td>
                                <td><a ng-click="myFunction($event)">{{option.putAsk}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br/>

    <!--OPTIONS PROFIT TABLE-->
    <div id = "optionsProfitTable">
        
    </div>
    <br/>


</div>
<script>
const loadingIcon = "#loadingIcon"

function loadIconStart(){
    $(loadingIcon).css('visibility', 'visible')
}

function loadIconStop(){
    $(loadingIcon).fadeOut(200, function(){
        $(loadingIcon).css('display','inline')
        $(loadingIcon).css('visibility','hidden')
    })
}

var app = angular.module("angApp", []);
app.controller("priceController", function($scope){
    $scope.stock = {'price':'', 'percentChange':''}
    $scope.getPrice = () => {
        $.post("/price",{ticker: $scope.stock.tickerSymbol}, function(data){
            //do things with data returned from app js
            console.log(data)
            if( data == null || data.hasOwnProperty('error') || data.hasOwnProperty('unmatched_symbols' )){
                data = notFound
            }
            $scope.stock.price = data.price
            $scope.stock.percentChange = data.change
            loadIconStop()
            $scope.$apply()
        });
        loadIconStart()
    }
})
</script>
</body>



</html>